/* App component styles */
.App {
  text-align: center;
  background: url('https://cdn.pixabay.com/photo/2018/06/21/13/57/clouds-3488632_1280.jpg') no-repeat center/cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.App h1 {
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 20px;
  padding-left: 200px;
  padding-right: 200px;
  border-radius: 15px;
  font-size: 2.5rem;
}

input {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  width: 200px;
  color: rgb(42, 42, 42);
}


button {
  padding: 10px 20px;
  background-color: #046bb4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button:hover {
  background-color: #0483de;
}

/* Main info section styles */
.main-info {
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 20px;
  border-radius: 15px;
  background-color: #6095bc64;
  color: rgb(1, 0, 72);
}

.main-info p {
  margin: 5px 0;
}

.main-info img {
  width: 50px; /* Adjust icon size as needed */
  height: 50px; /* Adjust icon size as needed */
}

/* Additional info section styles */
.additional-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-bottom: 20px;
  font-size: 1rem;
  background-image: linear-gradient(to right, #2f4396, #000a15, #172e87);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.additional-info p {
  margin: 5px 0;
}

.error-message {
  font-size: .8rem;
  text-align: center;
  padding: 10px;
  color: rgb(134, 7, 7);
}
